body {
	padding: 10px
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*.tab {
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}*/

.tab .over {
  border: 2px dashed #000;
}

.module{
  height: 300px;
  width: 450px;
  float: left;
  margin: 10px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  background: #F7F7F9;
}

.module .header{
  border-bottom: 1px solid;
  color: black;
}

.module .error{
  background-color: red;
}

.module .empty{
  background-color: yellow;
}

.module .header .action{
  float: right;
}

li.module-header{
  border: 1px solid;
  padding: 2px;
}

.feeds {
	list-style-type: none;
}
.feeds a.read {
	color: #999
}

span.date {
	color: #AAA;
	font-size: smaller;
	padding-left: 3px;
}

div.module_ERROR {
  background-color: red;	
}

.module .header a {
	color: black;
}
